@import '../materialFonts';

.shares {
  padding: 0;

  &-path {
    display: flex;
  }

  &-segment {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-separator {
    flex-shrink: 0;
  }

  .mdc-list-group__subheader {
    margin-bottom: 0 !important;
  }

  .mdc-list-item__text {
    overflow: hidden;
  }

  .mdc-list-item__meta {
    display: flex;

    i {
      font-size: 1.5em;
    }
  }

  .button {
    margin: 0 2px;
    user-select: none;

    &.disabled {
      cursor: not-allowed;
    }
  }

  &-push-button {
    @keyframes pushAnimaton {
      25% { transform: scale(1.15) }
      75% { transform: scale(0.85) }
    }

    animation: pushAnimaton 2s infinite linear;
    animation-play-state: paused;

    &.animation-in-progress {
      animation-play-state: running;
    }
  }

  &-sync-button {
    @keyframes syncingAnimation {
      from { transform: rotate(360deg) }
    }

    animation: syncingAnimation 2s infinite linear;
    animation-play-state: paused;

    &.animation-in-progress {
      animation-play-state: running;
    }
  }
}

